* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sora", sans-serif;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
li,
ol,
span,
a,
div,
nav,
br,
p {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 16px;
}

.headingH5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -2%;
  cursor: pointer;
}
.navitem {
  font-size: 20px;
  font-weight: 500;
}
.buttonText{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
}
