* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sora", sans-serif;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
li,
ol,
span,
a,
div,
nav,
br,
p {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 16px;
}

.headingH5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -2%;
  cursor: pointer;
}
.navitem {
  font-size: 20px;
  font-weight: 500;
}
.buttonText{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
}
.navitemhidden{
 padding-top: 10px;
 padding-bottom: 10px;
 width: 300px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 100px;
 
 border: 1px solid black;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 -o-border-radius: 100px;
}
.navitemhidden:hover{
  background-color: gray;
  transition-duration: 0.3s;
  border: 1px solid gray;
  color: white;
}
.displayText{
  font-size: 44px;
  font-weight: 400;
  line-height: 56px ;
  letter-spacing: -2%;
  color: #000000;

}
.paragraphP2{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
   text-align: justify;
}
/* icon part css */
.iconItems{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 28px;
  color: white;
  background-color: #000000;
  border: 2px solid black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;

}
.iconItems:hover{
  color: black;
  background-color: white;
  transition-duration: 0.4s;
}
/* icon part css */